<!-- Footer -->
<div class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a routerLink="/home"><h2 style="font-family:'Comic Sans MS', Courier, monospace">Food O Mania</h2></a>
                    </div>
                    <p>Online Food Delivery Application. Login and place your order!</p>
                    <ul class="social">
                        <li><a href="#" class="facebook" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="twitter" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <!-- <li><a href="#" class="pinterest" target="_blank"><i class='bx bxl-pinterest-alt'></i></a></li> -->
                        <li><a href="#" class="linkedin" target="_blank"><i class='bx bxl-instagram-alt'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Important Links</h3>

                    <ul class="quick-links">
                        <li><a routerLink="/about-2">About Us</a></li>
                        <li><a routerLink="/portfolio-2">Contact Us</a></li>
                        <li><a routerLink="/services-2">Services</a></li>
                        <li><a routerLink="/blog-2">Blog</a></li>
                        <li><a routerLink="/contact-1">Contact</a></li>
                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Featured Services</h3>

                    <ul class="quick-links">
                        <li><a routerLink="/home">Home</a></li>
                        <li><a routerLink="/order">Order</a></li>
                        <li><a routerLink="/login">Login</a></li>
                        <li><a routerLink="/cart">Cart</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Information</h3>

                    <ul class="footer-contact-info">
                        <li>
                            <i class="flaticon-call"></i>
                            <span>Phone</span>
                            <a href="tel:882569756">924-569-7569</a>
                        </li>
                        <li>
                            <i class="flaticon-email-1"></i>
                            <span>Email</span>
                            <a href="mailto:hello@rainz.com">foodomaina@gmail.com</a>
                        </li>
                        <li>
                            <i class="flaticon-pin"></i>
                            <span>Address</span>
                            <a href="https://www.google.com/maps/@51.5287718,-0.2416804,11z" target="_blank">Delhi, India.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Footer -->

<!-- Go Top -->
<div class="go-top">
    <i class='bx bx-chevron-up'></i>
</div>
<!-- End Go Top -->