<!-- Register -->
<section class="register-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="register-image">
                     <img src="assets/img/register-form.png" alt="image"> 
                </div>
            </div>

            <div *ngIf="stepIndex == 0"class="col-lg-6 col-md-12">
                <div class="register-form" >
                    <h2 style="text-align: center;">Add Restaurant</h2>
                    <p style="text-align: center; font-size: small;" >Please provide the following details.</p>
                    <form #Page1Form="ngForm">
                        <div class="form-group">
                            <label>Restaurant ID (login ID) </label>
                            <input type="text" class="form-control" placeholder="Eg: 101" name="restId" [(ngModel)]="restId" #RestID='ngModel' pattern="^[0-9]+$" maxlength="8" minlength="3" required>
                        </div>

                        <div *ngIf="RestID.invalid && (RestID.dirty || RestID.touched)" class="alert alert-danger">
                        
                            <div *ngIf="RestID.errors.required">
                                RestaurantID is required.
                            </div>
                            <div *ngIf="RestID.errors.pattern">
                                Please enter an integer value.
                            </div>
                            <div *ngIf="RestID.errors.minlength">
                                Please enter minimum of 3 characters.
                            </div>
                        </div>

                        
                        <div class="form-group">
                            <label>Restaurant Name</label>
                            <input type="text" class="form-control" placeholder="" name="restName"  [(ngModel)]="restName" #RestName='ngModel' required>
                        </div>
                        

                        <div *ngIf="RestName.invalid && (RestName.dirty || RestName.touched)" class="alert alert-danger">
                        
                            <div *ngIf="RestName.errors.required">
                                Restaurant Name is required.
                            </div>

                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="email" #emailAddress='ngModel' pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' required>
                        </div>

                        <div *ngIf="emailAddress.invalid && (emailAddress.dirty || emailAddress.touched)" class="alert alert-danger">
                        
                            <div *ngIf="emailAddress.errors.required">
                                Email address is required.
                            </div>

                            <div *ngIf="emailAddress.errors.pattern">
                                Please enter a valid email address.
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="tel" class="form-control" placeholder="Phone Number" name="number" [(ngModel)]="number" #phoneNumber='ngModel' pattern="^[6-9][0-9]{9}$" maxlength="10" required>
                        </div>

                        <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger">
                        
                            <div *ngIf="phoneNumber.errors.required">
                                Phone number is required.
                            </div>

                            <div *ngIf="phoneNumber.errors.pattern">
                                Please enter a valid phone number.
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password"  name="password" [(ngModel)]="password" #pass='ngModel' minlength="4" maxlength="16" required>
                        </div>

                        <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">
                        
                            <div *ngIf="pass.errors.required">
                                Password is required.
                            </div>

                            <div *ngIf="pass.errors.minlength">
                                Please enter a password more than 4 characters.
                            </div>

                        </div>

                        <p class="description">The password should be at least eight characters long. To make it stronger, use upper and lower case letters, numbers, and symbols like ! " ? $ % ^ & )</p>

                        <button type="submit" class="default-btn"  [disabled]="!Page1Form.valid" (click)="controlSteps('page2')">Next</button>

                        <div style="text-align: center;">
                            <br>
                            <a href = "/admin">Back to Admin page </a>
                       </div>

                    </form>
                </div>
            </div>
            <div *ngIf="stepIndex == 1"class="col-lg-6 col-md-12">
                <div class="register-form"  >
                    <h2 style="text-align: center;">Add Additional Restaurant Details</h2>
                    <p style="text-align: center; font-size: small;" >Please provide the following additional details.</p>
                    <form #Page2Form="ngForm">
                        <div class="form-group">
                            <label>Restaurant Speciality</label>
                            <input type="text" class="form-control" placeholder="" name="restSpeciality"  [(ngModel)]="restSpeciality" #Speciality='ngModel' required>
                        </div>
                        

                        <div *ngIf="Speciality.invalid && (Speciality.dirty || Speciality.touched)" class="alert alert-danger">
                        
                            <div *ngIf="Speciality.errors.required">
                                Restaurant Speciality is required.
                            </div>

                        </div>
                        <div>
                            <h5 style="display: inline; margin-right: 2%;">Address</h5>
                        </div>

                        <hr>
                        <div class="form-group">
                            <label>House No / Street No / Block No</label>
                            <input type="text" class="form-control" placeholder="Eg: Flat No: 117, Block D, XYZ Apts" name="streetNo"  [(ngModel)]="streetNo" #StreetNo='ngModel' required>
                        </div>

                        <div *ngIf="StreetNo.invalid && (StreetNo.dirty || StreetNo.touched)" class="alert alert-danger">
                        
                            <div *ngIf="StreetNo.errors.required">
                                This field is required.
                            </div>

                        </div>

                        <div class="form-group">
                            <label>Locality</label>
                            <input type="tel" class="form-control" placeholder=""  name="locality"  [(ngModel)]="locality" #Locality='ngModel' required>
                        </div>

                        <div *ngIf="Locality.invalid && (Locality.dirty || Locality.touched)" class="alert alert-danger">
                        
                            <div *ngIf="Locality.errors.required">
                                Locality is required.
                            </div>

                        </div>

                        <div class="form-group">
                            <label>City</label>
                            <input type="tel" class="form-control" placeholder=""  name="city"  [(ngModel)]="city" #City='ngModel' required>
                        </div>

                        <div *ngIf="City.invalid && (City.dirty || City.touched)" class="alert alert-danger">
                        
                            <div *ngIf="City.errors.required">
                               City is required.
                            </div>

                        </div>

                        <div class="flexing">
                            <div class="form-group flex-child">
                                <label>State</label>
                                <input type="tel" class="form-control" placeholder="" name="state"  [(ngModel)]="state" #State='ngModel' required>
                            </div>
    
                            <div class="form-group flex-child">
                                <label>Pincode</label>
                                <input type="tel" class="form-control" placeholder="" name="pincode"  [(ngModel)]="pincode" #Pincode='ngModel' pattern="^[0-9]+$" minlength="6" maxlength="6" required>
                            </div>
                        </div>

                        <div *ngIf="State.invalid && (State.dirty || State.touched)" class="alert alert-danger">
                        
                            <div *ngIf="State.errors.required">
                                State is required.
                            </div>

                        </div>

                        <div *ngIf="Pincode.invalid && (Pincode.dirty || Pincode.touched)" class="alert alert-danger">
                        
                            <div *ngIf="Pincode.errors.required">
                                Pincode is required.
                            </div>

                            <div *ngIf="Pincode.errors.minlength">
                                Enter a valid pincode (length-6).
                            </div>

                            <div *ngIf="Pincode.errors.pattern">
                                Pincode consists of only digits.
                            </div>

                        </div>

                        <button type="submit" class="default-btn" [disabled]="!Page2Form.valid" (click)="controlSteps('register')">Add Restaurant</button>

                        <div style="text-align: center;">
                            <br>
                            <a style="cursor: pointer; color: rgb(22, 108, 236);" class="text-hover" (click)="controlSteps('page1')" >Back to previous page</a>
                            <br>
                            <a href = "/admin">Back to Admin Page </a>
                       </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Register -->
