<!-- Register -->
<section class="register-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="register-image">
                     <img src="assets/img/register-form.png" alt="image"> 
                </div>
            </div>

            <div *ngIf="stepIndex == 0"class="col-lg-6 col-md-12">
                <div class="register-form" >
                    <h2 style="text-align: center;">Add a Dish</h2>
                    <p style="text-align: center; font-size: small;" >Please provide the following details.</p>
                    <form #Page1Form="ngForm">
                        <div class="form-group">
                            <label>Dish ID</label>
                            <input type="text" class="form-control" placeholder="Eg:" name="dishId" [(ngModel)]="dishId" #DishId='ngModel' pattern="^[0-9]+$" maxlength="4" minlength="2" required>
                        </div>

                        <div *ngIf="DishId.invalid && (DishId.dirty || DishId.touched)" class="alert alert-danger">
                        
                            <div *ngIf="DishId.errors.required">
                                Dish ID is required.
                            </div>
                            <div *ngIf="DishId.errors.pattern">
                                Please enter an numeric value for Dish ID.
                            </div>
                            <div *ngIf="DishId.errors.minlength">
                                Please enter minimum of 2 characters.
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Dish Name</label>
                            <input type="text" class="form-control" placeholder="" name="dishName"  [(ngModel)]="dishName" #DishName='ngModel' required>
                        </div>

                        <div *ngIf="DishName.invalid && (DishName.dirty || DishName.touched)" class="alert alert-danger">
                        
                            <div *ngIf="DishName.errors.required">
                                Dish Name is required.
                            </div>

                        </div>

                        <div class="flexing">
                            <div class="form-group flex-child">
                                <label>Dish Actual Price</label>
                                <input type="text" class="form-control" placeholder="" name="actualPrice"  [(ngModel)]="actualPrice" pattern="^[1-9][0-9]+$" #ActualPrice='ngModel' required>
                            </div>
    
                            <div class="form-group flex-child">
                                <label>Dish Discounted Price</label>
                                <input type="text" class="form-control" placeholder="" name="discPrice"  [(ngModel)]="discPrice" pattern="^[1-9][0-9]+$" #DiscPrice='ngModel' required>
                            </div>
                            
                        </div>

                        <div *ngIf="ActualPrice.invalid && (ActualPrice.dirty || ActualPrice.touched)" class="alert alert-danger">
                            <div *ngIf="ActualPrice.errors.required">
                                Actual price is required.
                            </div>
                            
                            <div *ngIf="ActualPrice.errors.pattern">
                                Enter valid actual price.
                            </div>

                        </div>

                        <div *ngIf="DiscPrice.invalid && (DiscPrice.dirty || DiscPrice.touched)" class="alert alert-danger">
                        
                            <div *ngIf="DiscPrice.errors.required">
                                Discounted price is required.
                            </div>

                            <div *ngIf="DiscPrice.errors.pattern">
                                Enter valid discounted price.
                            </div>

                        </div>
                        
                        <div class="form-group">
                            <label>Dish Description</label>
                            <input type="text" class="form-control" placeholder="Eg:" name="dishDesc" [(ngModel)]="dishDesc" #DishDesc='ngModel' maxlength="255" >
                        </div>

                        <div class="form-group">
                            <label>Dish Tags (If multiple, seperate by ',')</label>
                            <input type="text" class="form-control" placeholder="Eg: veg, spicy" name="dishTags" [(ngModel)]="dishTags" #DishTags='ngModel' maxlength="255"  required>
                        </div>

                        <div *ngIf="DishTags.invalid && (DishTags.dirty || DishTags.touched)" class="alert alert-danger">
                        
                            <div *ngIf="DishTags.errors.required">
                                Dish tags are required.
                            </div>

                        </div>

                        <p class="description">The password should be at least eight characters long. To make it stronger, use upper and lower case letters, numbers, and symbols like ! " ? $ % ^ & )</p>

                        <button type="submit" class="default-btn"  [disabled]="!Page1Form.valid" (click)="controlSteps('register')">Add Dish</button>

                        <div style="text-align: center;">
                            <br>
                            <a href = "/restaurant-admin">Cancel </a>
                       </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Register -->
