<!-- Subscribe -->
<section class="subscribe-area ptb-100">
    <div class="container">
        <div class="subscribe-content">
            <span>Get Instantly!</span>
            <h2>Search for your favourite Restaurant or dish!</h2>
            <form class="newsletter-form" data-toggle="validator">
                <input class="input-newsletter" placeholder="Search" name="query" [(ngModel)]="query">
                <button type="submit" (click)="onSearch() ">Search</button>
            </form>
        </div>
    </div>
</section>
<!-- End Subscribe -->

<!-- City Selection -->

<div>
    <mat-tab-group (selectedTabChange)="onTabChanged($event);">
        <mat-tab label="Hyderabad" name="Hyderabad">
            <ng-container *ngTemplateOutlet="products"></ng-container>
        </mat-tab>
        <mat-tab label="Delhi"> 
            <ng-container *ngTemplateOutlet="products"></ng-container>
         </mat-tab>
        <mat-tab label="Vizag">
            <ng-container *ngTemplateOutlet="products"></ng-container>
        </mat-tab>
        <mat-tab label="Bangalore">
            <ng-container *ngTemplateOutlet="products"></ng-container>
        </mat-tab>
      </mat-tab-group>
</div>

<!-- Products -->
<ng-template #products>
<section class="product-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="rainz-grid-sorting row align-items-center">
                    <div class="col-lg-6 col-md-6 result-count">
                        <p *ngIf="!isSearch">We found <span class="count">{{restCount}}</span> restaurants for you</p>
                        <p *ngIf="isSearch">We found <span class="count">{{searchCount}}</span> restaurants containing <i><b>{{query}}</b></i></p>
                    </div>

                    <!-- <div class="col-lg-6 col-md-6 ordering">
                        <div class="select-box">
                            <label>Sort By:</label>
                            <div _ngcontent-klu-c83 class="nice-select">
                                <span class="current">Default</span>
                                <ul class="list">
                                    <li data-value="Default" class="option selected focus">Default</li>
                                    <li data-value="Popularity" class="option">Popularity</li>
                                    <li data-value="Latest" class="option">Latest</li>
                                    <li data-value="Price: low to high" class="option">Price: low to high</li>
                                    <li data-value="Price: high to low" class="option">Price: high to low</li>
                                </ul>
                        </div>
                    </div>
                    </div> -->
                </div>

                <div class="row"  *ngIf="!isSearch">
                    <!-- <div> -->
                        <div class="col-lg-4 col-md-4" *ngFor="let rest of restList">
                            <div class="single-products-box">
                                <div class="products-image">
                                    <a [routerLink]="['/restaurant',rest.restId]" (click)="setRestaurantName(rest.restName)">
                                        <img src="assets/img/restaurants/restaurant1.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="products-content">
                                    <h3><a  [routerLink]="['/restaurant', rest.restId]" (click)="setRestaurantName(rest.restName)">{{ rest.restName }}</a></h3>
                                    <div class="price">
                                        <p>{{rest.restSpeciality}}</p>
                                    </div>
                                    <div class = "star-rating">
                                        <span *ngFor="let n of numSequence(rest.restRating);"> 
                                            <i class='bx bxs-star'></i>
                                        </span>
                                    </div>
                                    
                                    
                                    <a routerLink="/cart" class="add-to-cart">View Dishes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="row" *ngIf="isSearch">
                        <div class="col-lg-4 col-md-4" *ngFor="let rest of searchList">
                            <div class="single-products-box">
                                <div class="products-image">
                                    <a [routerLink]="['/restaurant',rest.restId]" (click)="setRestaurantName(rest.restName)">
                                        <img src="assets/img/restaurants/restaurant1.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="products-content">
                                    <h3><a  [routerLink]="['/restaurant', rest.restId]" (click)="setRestaurantName(rest.restName)" >{{ rest.restName }}</a></h3>
                                    <div class="price">
                                        <p>{{rest.restSpeciality}}</p>
                                    </div>
                                    <div class = "star-rating">
                                        <span *ngFor="let n of numSequence(rest.restRating);"> 
                                            <i class='bx bxs-star'></i>
                                        </span>
                                    </div>
                                    
                                    
                                    <a routerLink="/cart" class="add-to-cart">View Dishes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
</section>
</ng-template>
<!-- End Products -->
