<section class="features-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-width">
            <span>{{restaurantName}}</span>
            <h2>Manage your restaurant.</h2>
            <div class="bar"></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6" style="margin: 0 auto;">
                <div class="single-features">
                    <div class="icon">
                        <i class="flaticon-promotion"></i>
                    </div>
                    <h3><a routerLink="/dishes-add">Add dishes</a></h3>
                    <p>You can add all the dishes available in your restaurant over here.</p>
                    <div class="number">
                        <span>1</span>
                    </div>
                    <div class="shape">
                        <img src="assets/img/features-shape/features-shape-1.png" alt="image">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" style="margin: 0 auto;">
                <div class="single-features">
                    <div class="icon">
                        <i class="flaticon-email"></i>
                    </div>
                    <h3><a routerLink="/restaurant-stats">Get Restaurant Stats</a></h3>
                    <p>Know the success of your restaurant</p>
                    <div class="number">
                        <span>2</span>
                    </div>
                    <div class="shape">
                        <img src="assets/img/features-shape/features-shape-1.png" alt="image">
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
