<!-- Cart -->
<section class="cart-area ptb-100">
    <div class="container">
        <div *ngIf="arr.length==0" style="text-align: center;"><h3>Cart is Empty!</h3>Order your favourite dishes to proceed...</div>
        <form *ngIf="arr.length>0">
            <div class="cart-table table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Name</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let row of arr; let i = index">
                        <tr>
                            <td class="product-thumbnail">
                                <a routerLink="/products-details">
                                    <img src="assets/img/dishes/dish2.jpg" alt="item">
                                </a>
                            </td>

                            <td class="product-name">
                                <a routerLink="/products-details">{{row.dishName}}</a>
                            </td>

                            <td class="product-price">
                                <span class="unit-amount">Rs. {{row.dishPrice}}</span>
                            </td>

                            <td class="product-quantity">
                                <div class="input-counter">
                                    <span class="minus-btn"><i class='bx bx-minus'></i></span>
                                    <input type="text" value="{{row.quantity}}" min="1" id="quantity{{i}}">
                                    <span class="plus-btn"><i class='bx bx-plus'></i></span>
                                </div>
                            </td>

                            <td class="product-subtotal">
                                <span class="subtotal-amount">Rs. {{row.totalCost}}</span>
                                <a routerLink="/cart" class="remove" (click)="onDelete(row.dishId)"><i class='bx bx-trash'></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="cart-buttons">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-sm-7 col-md-7">
                        <a routerLink="/shop-1" class="default-btn">Back to Shop</a>
                    </div>

                    <div class="col-lg-5 col-sm-5 col-md-5 text-right">
                        <a routerLink="/cart" class="default-btn" (click)="updateCart()">Update Cart</a>
                    </div>
                </div>
            </div>

            <div class="cart-totals">
                <h3>Cart Totals</h3>

                <ul>
                    <li>
                        Subtotal 
                        <span>Rs. {{total}}</span>
                    </li>
                    <li>
                        Total inclusive of Tax (5%): 
                        <span>Rs. {{total + (5/100)*total}}</span>
                    </li>
                    <li>
                        Shipping 
                        <span>Rs. 30</span>
                    </li>
                    <li>
                        Total 
                        <span><b>Rs. {{total + (5/100)*total+30}}</b></span>
                    </li>
                </ul>

                <h4 style="text-align: center;"> Select Payement Method</h4>
                <div style="text-align: center;">
                    <div class="payment-box">
                        <div class="payment-method">
                            <p>
                                <input type="radio" id="paypal" name="radio-group">
                                <label for="paypal">PayTM</label>
                            </p>
                            <p>
                                <input type="radio" id="cash-on-delivery" name="radio-group">
                                <label for="cash-on-delivery">Cash on Delivery</label>
                            </p>
                        </div>
        
                        <a routerLink="/" class="default-btn" (click)="onOrder()">Place Order</a>
                    </div>
                </div>
                
            </div>
            
        </form>
    </div>
</section>
<!-- End Cart -->
