<!-- Features -->
<section class="features-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-width">
            <span>Admin Controls</span>
            <h2>SUDO</h2>
            <div class="bar"></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6" style="margin: 0 auto;">
                <div class="single-features">
                    <div class="icon">
                        <i class="flaticon-promotion"></i>
                    </div>
                    <h3><a routerLink="/restaurant-add">Add a Restaurant</a></h3>
                    <p>Click here to register a restaurant.</p>
                    <div class="number">
                        <span>1</span>
                    </div>
                    <div class="shape">
                        <img src="assets/img/features-shape/features-shape-1.png" alt="image">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" style="margin: 0 auto;">
                <div class="single-features">
                    <div class="icon">
                        <i class="flaticon-speed"></i>
                    </div>
                    <h3><a routerLink="/driver-add">Add a Delivery Agent</a></h3>
                    <p>Click here to add a delivery agent.</p>
                    <div class="number">
                        <span>2</span>
                    </div>
                    <div class="shape">
                        <img src="assets/img/features-shape/features-shape-1.png" alt="image">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" style="margin: 0 auto;">
                <div class="single-features">
                    <div class="icon">
                        <i class="flaticon-email"></i>
                    </div>
                    <h3><a routerLink="/admin-stats">Food Mania Stats</a></h3>
                    <p>Know your application statistics here.</p>
                    <div class="number">
                        <span>3</span>
                    </div>
                    <div class="shape">
                        <img src="assets/img/features-shape/features-shape-1.png" alt="image">
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- End Features -->
