<div class="main-banner">
    <div class="main-banner-item">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="main-banner-content">
                                <h1>Order your favourite Dishes</h1>
                                <p>Order food from comfort of your home and get the delivery at your door step.</p>
                                <p>Get your best recommendations to explore the food you love.</p>
                                <p>We are happy to see you here!</p>
                                <div class="banner-btn">
                                    <a routerLink="/order" class="default-btn">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-banner-shape">
        <div class="shape-1"><img src="assets/img/banner/banner-shape-1.png" alt="image"></div>
        <div class="shape-2"><img src="assets/img/banner/banner-shape-2.png" alt="image"></div>
        <div class="shape-3"><img src="assets/img/banner/banner-shape-3.png" alt="image"></div>
    </div>
</div>


<section class="industries-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Cities We Operate In</span>
            <h2>Choose your City</h2>
            <div class="bar"></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-industries-box">
                    <i class="flaticon-digital-marketing-2"></i>
                    <h3>Hyderabad</h3>
                    <a routerLink="/"></a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-industries-box">
                    <i class="flaticon-bank"></i>
                    <h3>Delhi</h3>
                    <a routerLink="/"></a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-industries-box">
                    <i class="flaticon-graduation-cap"></i>
                    <h3>Vizag</h3>
                    <a routerLink="/"></a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-industries-box">
                    <i class="flaticon-stock-market"></i>
                    <h3>Banglore</h3>
                    <a routerLink="/"></a>
                </div>
            </div>

           
        </div>
    </div>
</section>
