<!-- Fun Facts -->
<section class="fun-facts-area pb-70">
    <div class="container">
        
        <br>
        <br>
        <div class="section-title text-width">
            <span>Food Mania</span>
            <h2>View the Application Statistics</h2>
            <div class="bar"></div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <div class="icon">
                        <i class="flaticon-checked"></i>
                    </div>
                    <h3><span>{{adminStatsObject.restCount}}</span></h3>
                    <p>Restaurants</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <div class="icon">
                        <i class="flaticon-happy"></i>
                    </div>
                    <h3><span  >{{adminStatsObject.userCount}}</span></h3>
                    <p>Happy Users</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <div class="icon">
                        <i class="flaticon-technical-support"></i>
                    </div>
                    <h3><span>{{adminStatsObject.orderCount}}</span></h3>
                    <p>Orders placed</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <div class="icon">
                        <i class="flaticon-trophy"></i>
                    </div>
                    <h3><span>{{adminStatsObject.dishesCount}}</span></h3>
                    <p>Disehs Served</p>
                </div>
            </div>
        </div>
        <h3 style="text-align: center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Turnover: &nbsp; Rs.{{adminStatsObject.turnover}}</h3>
        <h3 style="text-align: center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Profit: &nbsp; Rs.{{adminStatsObject.profit}}</h3>
    </div>
</section>
<!-- End Fun Facts -->
