<!-- Products -->
<ng-container *ngTemplateOutlet="products"></ng-container>

<ng-template #products>
    <section class="product-area pt-100 pb-100">
        <div class="container">
            <h2>Restaurant Name</h2>
            <div class="rainz-grid-sorting row align-items-center">
                <div class="col-lg-6 col-md-6 result-count">
                    <p>We found <span class="count">10</span> dishes for you</p>
                </div>
    
                <div class="col-lg-6 col-md-6 ordering">
                    <div class="select-box">
                        <label>Sort By:</label>
                        <div _ngcontent-klu-c83 class="nice-select">
                            <span class="current">Default</span>
                            <ul class="list">
                                <li data-value="Default" class="option selected focus">Default</li>
                                <li data-value="Popularity" class="option">Popularity</li>
                                <li data-value="Latest" class="option">Latest</li>
                                <li data-value="Price: low to high" class="option">Price: low to high</li>
                                <li data-value="Price: high to low" class="option">Price: high to low</li>
                            </ul>
                    </div>
                    </div>
                </div>
            </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6" *ngFor="let product of dishList">
                        <div class="single-products-box">
                            <div class="products-image">
                                <a [routerLink]="['/item-details', product.restId, product.dishId]">
                                    <img src="assets/img/dishes/dish2.jpg" alt="image">
                                </a>
                            </div>
                            <div class="products-content">
                                <h3><a [routerLink]="['/item-details', product.restId, product.dishId]"> {{ product.dishName }} </a></h3>
                                <div class="price">
                                    <span class="old-price">${{ product.dishActualCost }}</span>
                                    <span class="new-price">${{ product.dishDiscCost }}</span>
                                </div>
                                <div class = "star-rating">
                                    <span *ngFor="let n of numSequence(product.dishRating);"> 
                                        <i class='bx bxs-star'></i>
                                    </span>
                                </div>
                                <a routerLink="/cart" class="add-to-cart">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </section>
   
</ng-template>
 <!-- End Products -->
